html {
    font-size: 62.5%;
}

body {
    font-family: Gotham, sans-serif;
    margin: 0;
    padding: 0;
    display: block;
}

@font-face {
    font-family: 'Norse Bold';
    src: url('/fonts/Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.left {
    background-image: url(/imgs/background.jpg);
    width: 40vw;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
}

.odin-logo-container {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.transparent-text-container {
    background-color: rgba(0, 0, 0, .5);
    height: 18vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

p.odin-text {
    font-size: 8rem;
    font-family: Norse Bold;
    padding-top: 2rem;
}

.photo-credit-footer {
    height: 60vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.right {
    width: 60vw;
    background-color: rgba(211, 211, 211, 10%);
    display: flex;
    flex-direction: column;
}

.call-to-action {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 3rem;
    margin-left: 3rem;
    
}

.call-to-action-text {
    font-size: 2rem;
    margin: 3rem;
    width: 75%;
}

.form-container {
    height: 30vh;
    background-color: white;
    box-shadow: 0 4px 2px -2px lightgray;
}

.lets-do-this {
    font-size: 2rem;
    margin-left: 6rem;
}

.form-main-div {
    display: flex;
    gap: 6.5rem;
    margin-left: 6rem;
}

.form-div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

input {
    padding: .3rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

input:focus {
    border-color: #4caf50;
    outline: none;
}

input:required {
    border: 1px solid rgba(168, 0, 0, 0.5); /* 50% opacity red */
}

.create-account-container {
    height: 30vh;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 3rem;
    margin-left: 6rem;
}

#create-account-btn {
    background-color: #596D48;
    color: white;
    padding: 1rem;
    border-radius: .5rem;
    width: 17rem;
    border: none;
}

.photo-credit {
    font-size: 1.4rem;
}

a {
    color: white;
}

.login {
    text-decoration: none;
}

.login:hover {
    color: turquoise;
}

a:hover {
    color: turquoise
}

a:visited {
    color: gray;
}